.integrationContainer {
  position: relative;
  display: grid;
  flex-direction: column;
  gap: 20px;
  padding: 96px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  overflow: scroll;
  overflow-y: scroll;
}

.integrationWrapper {
  min-width: 375px;
  width: 458px;
  position: relative;
  background-color: #ffffff;
  padding: 30px 42px 38px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.paddlePreview {
  position: absolute;
  height: 86%;
  width: 100%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 30px rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 2px solid rgba(255, 255, 255, 0.11);
}

.previewWrapper {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  outline: none;
}

.paddlePreview__message {
  border-radius: 4px;
  padding: 5px 25px;
  text-align: center;
}

.paddlePreview__message_sub {
  font-size: 16px;
  margin-top: 25px;
}

.addressFormFieldsBox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  width: 100%;
}

.skeleton__input_wrapper {
  margin-bottom: 1.9rem;
}
.skeleton__cursor_loading {
  cursor: progress;
}
.skeleton__cursor_error {
  cursor: not-allowed;
}

.skeleton__label {
  height: 18px;
  max-width: 200px;
  background-color: #f3f3f3;
  margin-bottom: 0.1rem;
}

.skeleton__input {
  height: 35px;
  max-width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
}

.skeleton__discernable_text {
  opacity: 0;
}

.errorBox {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorBox__container {
  background-color: rgb(255, 163, 163);
  border-radius: 4px;
  padding: 5px 15px;
}

@media only screen and (max-width: 600px) {
  .integrationWrapper {
    width: 100%;
    min-width: initial;
  }
}
